.container {
    position: relative;
    /* Para que el contenedor se ajuste al contenido */
  }
  
span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; /* Color de fondo del número */
    color: white; /* Color del texto del número */
    padding: 2px 5px; /* Espaciado alrededor del número */
    border-radius: 50%; 
    font-size: 1rem;/* Para hacer el fondo circular */
}
  
img{
    color: #fff;
    width: 45px;
}
