header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #242424;
}
h1{
    color: #fff;
}

li{
    display: inline-block;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

