header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #242424;
}
h1{
    color: #fff;
}
nav .link{
    display: inline-block;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}
